.SideMenu
{
    flex: 1;
}

.other
{
    flex: 4;
}

.sidebarTitle
{
    font-size: medium;
    margin: 20px 0px 0px 10px;
    color:  rgb(36, 100, 121);
}
.sidebarList
{
    list-style: none;
    padding: 5px;
    margin: 5px;
}

.sidebarListItem
{
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
    border-radius: 10px;
    margin: 5px;
}

.sidebarListItem:active , 
.sidebarListItem:hover
{
    background-color: rgb(81, 163, 190);
}