.sideMenu
{
  display: flex;
  height: 100vh;
  background-color: rgb(123, 211, 240);
}

.other
{
  flex: 4;
  background-color: white;
}
.chat
{
    border: 2px solid black;
    width: 448px;
    height: 301px;
    position: absolute;
    z-index: 2;
    left: 500px;
    padding: 2px;
    background-color: white;
}
